body{background-color:#9A86A4;}
hr{background-color:#9A86A4;
border-style:none;
border-top:dotted;
border-width:8px;
border-color:black;
width:10%;
height:0px;}
h1{color:#3C2C3E}
h3{color:#3C2C3E}
h2{color:#3C2C3E}
